p.error {
	text-align: center;
	color: red;
	font-size: 15px;
	font-family: roboto;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/bg.jpg"); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:bottom;
	height: 50vh;
	background-size: cover;
}